.header{
    height: 12em;
    background-image: url("/assets/img/land-banner.png");
    background-size: cover;
    background-position: center;
    }
    
.header h1{
    margin: 0px;
    font-size: 45px;
}

body{

    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

.productos{

    display: inline-table;

}

img{

    float: left;
    width: 300px;
    height: 400px;
    margin: 20px 20px 10px 10px;
}

.parrafo{

    display: inline-block;
    margin-top: 20px;
    font-size: 25px;

}

footer{

    background-color: rgb(252 189 237);
    padding: 20px;
}

footer, a, .contacto{

    color: rgb(68, 41, 5);
    text-align: center;
    margin-right: 25px;
}